<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Include custom messages:</strong>
  <%= @profile.include_custom_messages %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
