<%= form_for(default_message) do |f| %>
  <% if default_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(default_message.errors.count, "error") %> prohibited this default_message from being saved:</h2>

      <ul>
      <% default_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'layouts/message_instructions' %>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
