<div class="card">
  <p id="notice"><%= notice %></p>
  
  <h1>Default Messages</h1>
  
  <table class="messageTable">
    <thead>
      <tr>
        <th>Message</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @default_messages.each do |default_message| %>
        <tr>
          <td><%= default_message.message %></td>
          <td class="tableBtn"><%= link_to 'Edit', edit_default_message_path(default_message), class: "btn" %></td>
          <td class="tableBtn"><%= link_to 'Delete', default_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--red" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Default Message', new_default_message_path, class: "btn btn--rounded btn--green" %>
</div>