<p id="notice"><%= notice %></p>

<h1>Default Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_messages.each do |default_message| %>
      <tr>
        <td><%= default_message.message %></td>
        <td><%= link_to 'Show', default_message %></td>
        <td><%= link_to 'Edit', edit_default_message_path(default_message) %></td>
        <td><%= link_to 'Destroy', default_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default Message', new_default_message_path %>
