<%= form_for(goal) do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h3>

      <ul class="errors">
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal_name %>
    <%= f.text_field :goal_name %>
  </div>

  <div class="field dateTime">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, :order => [:month, :day, :year, :hour, :minute], default: { hour: 12, minute: 0 }, :datetime_separator => "<span class='at'> at </span>", :time_separator => "<span class='at'> : </span>" %>
  </div>
  <!-- Only show if goal exists in DB, ie: edit view -->
  <% if goal.persisted? %>
    <!-- <div class="field">
      <%= f.label :deadline_extended %>
      <%= f.check_box :deadline_extended %>
    </div> -->

    <div class="field radio">
      <%= f.label :complete %>
      <%= f.check_box :complete %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn--rounded btn--green" %>
  </div>
<% end %>