<div class="card">
  <p id="notice"><%= notice %></p>
  
  <h1>Goals</h1>
  
  <div class="goalsTable">
    <div class="flexTable">
      <% @goals.each do |goal| %>
        <div class="flexRow
        <% if !time_remains(goal) %>
          times_up
        <% end %>
        <% if goal.current_goal? %>
          currentGoal
        <% end %>
        <% if goal.complete? %>
          complete
        <% end %>
        ">
          <div class="goalName"><%= goal.goal_name %></div>
          <div><%= goal.deadline.strftime("%A %B %d %Y@ %I:%M%p") %></div>
          <div class="completion_emoji">
            <% if goal.complete? %>
              <span title="Goal Complete!">👍</span>
            <% end %>
            <% if time_remains(goal) && !goal.complete? %>
              <span title="Time Remains">⏱</span>
            <% elsif !time_remains(goal) && !goal.complete %>
              <span title="Time's up!" class="alarm_clock">((&nbsp;⏰&nbsp;))</span>
            <% end %>
          </div>
          <div class="tableBtn">
            <%= link_to 'Show', goal, class: "btn" %>
            <%= link_to 'Edit', edit_goal_path(goal), class: "btn" %>
            <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--red" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  
  <div class="actions">
    <%= link_to 'New Goal', new_goal_path, class: "btn btn--rounded btn--green" %>
  </div>
  <%= link_to 'Back', root_path %>
</div>