<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>Goal name</th>
      <th>Deadline</th>
      <th>Deadline extended</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @current_user_goals.each do |goal| %>
      <tr>
        <td><%= goal.goal_name %></td>
        <td><%= goal.deadline.strftime("%A %B %d %Y@ %I:%M%p") %></td>
        <td><%= goal.deadline_extended %></td>
        <td><%= goal.complete %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>Current Goal? <%= goal.current_goal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Goal', new_goal_path %>
