<p id="notice"><%= notice %></p>

<p>
  <strong>Goal name:</strong>
  <%= @goal.goal_name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline.strftime("%A %B %d %Y@ %I:%M%p") %>
</p>

<p>
	<strong>Expires in:</strong>
	<%= distance_of_time_in_words(Time.now, @goal.deadline) %>
</p>

<p>
  <strong>Deadline extended:</strong>
  <%= @goal.deadline_extended %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @goal.complete %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
