<div id="app" v-cloak >
  
  <h1><%= @goal.goal_name %></h1>

  <% if @goal.complete? %>
    <h2>🎉 Congrats, you met your goal {{ name }}!! 🎉</h2>
    <div>
      <%= link_to "Create New Goal", new_goal_path, class: "btn btn--rounded btn--green" %>
    </div>
  <% else %>
    <countdown :days="days" :hours="hours" :minutes="minutes" :seconds="seconds"></countdown>
    <% end %>
  <% unless @goal.complete? %>
    
    <% if @random_message.present? %>
      <h2 class=""><%= @random_message.message %></h2>
    <% else %>
      <h2>You got this, fam!</h2>
    <% end %>
    <div>
      <%= link_to "Complete Goal", {:controller => "goals", :action => "complete_goal", :id => @goal.id}, class: "btn btn--rounded btn--green" %>
    </div>
  <% end %>

  <div class="show__nav">
    <%= link_to 'Edit', edit_goal_path(@goal) %> |
    <%= link_to 'All goals', goals_path %>
  </div>

  <!-- Template for countdown partial -->
  <%= render 'countdown_template' %>

</div> <!-- /#app -->

<script>
  Vue.prototype.$http = axios;

  Vue.component('countdown', {
    template: '#countdownTemplate',
    props: ['days', 'hours', 'minutes', 'seconds']
  });

  var app = new Vue({
    el: '#app',
    data: {
      nowSeconds: "",
      offset: new Date().getTimezoneOffset()*60*1000,
      secondsInDay: 86400,
      secondsInHour: 3600,
      deadlineSecs: 0,
      name: "",
      url: window.location.href + ".json"
    },
    methods: {
      getNow: function() {
        this.nowSeconds = Date.now() - this.offset;
        setInterval(function(){
          app.nowSeconds = Date.now() - app.offset;
          if (this.secondsLeft <= 0) {
            clearInterval();
          }
        }, 1000);
      },
      randomName: function(names) {
        this.name = names[Math.floor(Math.random() * names.length)];
      }
    },
    computed: {
      secondsLeft: function() {
        var s = Math.round( (this.deadlineSecs - this.nowSeconds) / 1000 );
        return s >= 0 ? s : 0;
      },
      days: function() {
        return Math.floor(this.secondsLeft / this.secondsInDay)
      },
      hours: function() {
        return Math.floor( (this.secondsLeft % this.secondsInDay) / 60 / 60 );
      },
      minutes: function() {
        return Math.floor( (this.secondsLeft % this.secondsInHour ) / 60);
      },
      seconds: function() {
        return Math.floor(this.secondsLeft % 60);
      },
      grad1: function() {
        var r = Math.floor(this.hours * (255 / 24) );
        var g = Math.floor(this.hours * (255 / 60) );
        var b = Math.floor(this.hours * (255 / 60) );
        return `RGB(${r},${g},${b})`
      },
      grad2: function() {
        var r = Math.floor(this.hours * (255 / 24) );
        var g = Math.floor(this.minutes * (255 / 60) );
        var b = Math.floor(this.seconds * (255 / 60) );
        return `RGBA(${r},${g},${b}, 0.5)`
      }
    },
    mounted: function() {
      this.getNow();
      this.$http.get(this.url)
      .then(function (response) {
        var data = response.data.deadline;
        app.deadlineSecs = new Date(data).getTime();
      })
      .catch(function (error) {
        console.error(error);
      });

      var protocol = window.location.protocol;
      var host = window.location.host;
      var profile_id = <%= current_user.profile.id %>;
      this.$http.get(`${protocol}//${host}/profiles/${profile_id}.json`)
      .then(function (response) {
        var name = response.data.name;
        var nickname = response.data.nickname;
        var names = [name];
        if (nickname !== "") {
          names.push(nickname);
        }
        app.randomName(names);
      })
      .catch(function (error) {
        console.error(error);
      });
    }
  });
</script>