<div id="app">
  <p>
    <strong>Goal name:</strong>
    <%= @goal.goal_name %>
  </p>

  <p class="dealine">
    <strong>Deadline:</strong>
    <%= @goal.deadline.strftime("%A %B %d %Y@ %I:%M%p") %>
  </p>

  <p>
  	<strong>Expires in:</strong>
  	<%= distance_of_time_in_words(Time.now, @goal.deadline) %>
  </p>

  <p>
    <strong>Deadline extended:</strong>
    <%= @goal.deadline_extended %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= @goal.complete %>
  </p>
  
  <div class="countdown">
    <div class="time_block days">
      <span>days</span>
      <span>{{ days }}</span>
    </div>
    <div class="time_block hours">
      <span>hours</span>
      <span>{{ hours }}</span>
    </div>
    <div class="time_block minutes">
      <span>minutes</span>
      <span>{{ minutes }}</span>
    </div>
    <div class="time_block seconds">
      <span>seconds</span>
      <span>{{ seconds }}</span>
    </div>
  </div>
  <% if !@goal.complete? %>
    <%= link_to "Complete Goal", :controller => "goals", :action => "complete_goal", :id => @goal.id %>
  <% end %>

  <%= link_to 'Edit', edit_goal_path(@goal) %> |
  <%= link_to 'Back to Index', goals_path %>


</div> <!-- /#app -->

<script>
  Vue.component('countdown', {
    template: '<p>Countdown</p>',
    props: {
    }
  });

  var app = new Vue({
    el: '#app',
    data: {
      nowSeconds: "",
      offset: new Date().getTimezoneOffset()*60*1000,
      secondsInDay: 86400,
      secondsInHour: 3600,
      deadlineSecs: 0,
      url: window.location.href + ".json"
    },
    methods: {
      getNow: function() {
        this.nowSeconds = Date.now() - this.offset;
        setInterval(function(){
          app.nowSeconds = Date.now() - app.offset;
          if (this.secondsLeft <= 0) {
            clearInterval();
          }
        }, 1000);
      }
    },
    computed: {
      secondsLeft: function() {
        var s = Math.round( (this.deadlineSecs - this.nowSeconds) / 1000 );
        return s >= 0 ? s : 0;
      },
      days: function() {
        return Math.floor(this.secondsLeft / this.secondsInDay)
      },
      hours: function() {
        return Math.floor( (this.secondsLeft % this.secondsInDay) / 60 / 60 );
      },
      minutes: function() {
        return Math.floor( (this.secondsLeft % this.secondsInHour ) / 60);
      },
      seconds: function() {
        return Math.floor(this.secondsLeft % 60);
      }
    },
    mounted: function() {
      this.getNow();
      axios.get(this.url)
      .then(function (response) {
        var data = response.data.deadline;
        app.deadlineSecs = new Date(data).getTime();
      })
      .catch(function (error) {
        console.error(error);
      });
    }
  });
</script>