<p id="notice"><%= notice %></p>

<p>
  <strong>Goal name:</strong>
  <%= @goal.goal_name %>
</p>

<p class="dealine">
  <strong>Deadline:</strong>
  <%= @goal.deadline.strftime("%A %B %d %Y@ %I:%M%p") %>
</p>

<p>
	<strong>Expires in:</strong>
	<%= distance_of_time_in_words(Time.now, @goal.deadline) %>
</p>

<p>
  <strong>Deadline extended:</strong>
  <%= @goal.deadline_extended %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @goal.complete %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>

<script>
  var dealine = document.querySelector('.dealine');
  var url = window.location.href + ".json";
  var timeTo = 0;
  axios.get(url)
    .then(function (response) {
      formatDeadline(response.data);
    })
    .catch(function (error) {
      console.error(error);
    });

  function formatDeadline(data) {
    var deadline = new Date(data.deadline).getTime();
    var now =  Date.now();
    timeTo = deadline - now;
    console.log(timeTo);
  }

</script>
