<%= form_for(custom_message) do |f| %>
  <% if custom_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_message.errors.count, "error") %> prohibited this custom_message from being saved:</h2>

      <ul>
      <% custom_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render 'layouts/message_instructions' %>
    
  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn--rounded btn--green" %>
  </div>
<% end %>