<div class="card">
  <p id="notice"><%= notice %></p>
  
  <h1>Custom Messages</h1>
  
  <table>
    <thead>
      <tr>
        <th>Message</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @custom_messages.each do |custom_message| %>
        <tr>
          <td><%= custom_message.message %></td>
          <td class="tableBtn"><%= link_to 'Edit', edit_custom_message_path(custom_message), class: "btn" %></td>
          <td class="tableBtn"><%= link_to 'Delete', custom_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--red" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Custom Message', new_custom_message_path, class: "btn btn--rounded btn--green" %>
</div>