<!DOCTYPE html>
<html>
  <head>
    <title>BigGoal</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="wrapper">
        <%= link_to('Home', root_path) %>

        <% if user_signed_in? %>
          <%= link_to('Logout User', destroy_user_session_path, :method => :delete) %>
          <%= link_to('Messages', custom_messages_path) %>
        <% else %>
          <%= link_to('Login User', new_user_session_path)  %> 
        <% end %>

        <% if admin_signed_in? %>
          <%= link_to('Logout Admin', destroy_admin_session_path, :method => :delete) %>
        <% end %>
      
      </nav>
    </header>
  	<section class="alerts wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
    <section class="wrapper">
      <%= yield %>
    </section>

    <footer>
      <div class="wrapper">
        <p>&copy; Robin Hamill <%= Date.today.year %></p>
      </div>
    </footer>
  </body>
</html>
