<!DOCTYPE html>
<html>
  <head>
    <title>BigGoal</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/seo' %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:300,400,700|Montserrat+Subrayada" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="wrapper">
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to('Home', root_path) %></li>
          <% if current_user.profile.include_custom_messages %>
          <li>
            <%= link_to('Custom Messages', custom_messages_path) %>
          </li>
          <% end %>
          
          <% if current_user.admin? %>
            <li><%= link_to('Default Messages', default_messages_path) %></li>
          <% end %>
          
          <li><%= link_to('Profile', edit_profile_path(current_user.profile)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
          
        </ul>
      
      </nav>
    </header>
    
    <section class="wrapper">
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </section>

    <!-- <footer>
      <div class="wrapper">
        <p>&copy; Robin Hamill <%= Date.today.year %></p>
      </div>
    </footer> -->
  </body>
</html>
